* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: blanchedalmond;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60vw;
    height: 60vh;
    justify-content: center;
}