/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f4f7fc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Styling */
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

/* Headings Styling */
h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
    animation: slideInFromLeft 1s ease-out;
}

h3 {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 2rem;
    opacity: 0.8;
    animation: fadeIn 1.5s ease-out;
}

/* Button Styling */
.buttons {
    display: flex;
    gap: 1rem;
}

button {
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button a {
    text-decoration: none;
    color: white;
}

/* Button Hover Effects */
button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

/* Button active state */
button:active {
    background-color: #388e3c;
}

/* Button Animations */
button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

button:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}